@charset "utf-8";
@import url(font.css);

/* CSS 기본 설정 */
html,
body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  letter-spacing: -0.6px;
  line-height: 1;
  outline: none;
}
a {
  color: #000;
  text-decoration: none;
}

/* 공통 레이아웃 */
.wrap {
}
.wrap > section:first-of-type {
  padding-top: 30px;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
}
.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subtitle {
  line-height: 63px;
  font-size: 25px;
  font-weight: 700;
  color: #222;
}
.subtab-link {
  font-size: 16px;
  color: #009a3e;
  font-weight: 600;
}
.section-title .more img {
  vertical-align: 1px;
  width: 7px;
  margin-left: 7px;
}
.clearfix::after {
  content: "";
  display: block;
  position: relative;
  clear: both;
}
.sound_only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* 상단 */
.header {
}
.header .top {
  background: #f2f2f2;
  padding: 10px 0;
}
.header .top .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .top ul {
  display: flex;
  align-items: center;
}
.header .top ul > li {
}
.header .top-left {
}
.header .top-left ul {
}
.header .top-left ul > li {
  margin-right: 4px;
}
.header .top-left ul > li:last-child {
  margin-right: 0;
}
.header .top-left ul > li > a {
  position: relative;
}
.header .top-left ul > li > a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #fff;
  border: 1px solid #d9d9d9;
}
.header .top-left ul > li > a img {
  display: block;
  position: relative;
  z-index: 1;
}
.header .top-right {
}
.header .top-right ul > li {
  margin-right: 20px;
}
.header .top-right ul > li:last-child {
  margin-right: 0;
}
.header .top-right ul > li > a {
  display: block;
  font-size: 12px;
  font-weight: 300;
  color: #808080;
}
.header .top-right ul > li > a:hover {
  text-decoration: underline;
}
.header .bottom {
  border-bottom: 1px solid #d9d9d9;
}
.header .bottom .inner {
}
.header .bottom .logo {
  text-align: center;
  padding-top: 20px;
}
.header .bottom .logo a {
  display: inline-block;
}
.header .bottom .logo a img {
  display: block;
}
.header .bottom .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .bottom .nav .left {
  display: flex;
  align-items: center;
}
.header .bottom .nav .left .sitemap {
}
.header .bottom .nav .left .sitemap-btn {
  width: 26px;
  height: 26px;
  border: 0;
  background: transparent url(/images/nav_btn.png) no-repeat center;
  cursor: pointer;
}
.header .bottom .nav .left .sitemap-btn span {
}

.header .bottom .nav .left .gnb {
  margin-left: 30px;
}
.header .bottom .nav .left .gnb ul {
  display: flex;
  align-items: center;
}
.header .bottom .nav .left .gnb ul > li {
}
.header .bottom .nav .left .gnb ul > li > a {
  display: block;
  position: relative;
  line-height: 65px;
  font-weight: 700;
  color: #222624;
  padding: 0px 16px;
}
.header .bottom .nav .left .gnb ul > li > a.on {
  color: #009b3f;
}
.header .bottom .nav .left .gnb ul > li > a.on::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #009b3f;
}
.header .bottom .nav .left .gnb .mypg {
}
.header .bottom .nav .right {
}
.header .bottom .nav .right .mypg {
  display: flex;
  align-items: center;
}
.header .bottom .nav .right .mypg-btn-wrap {
  display: flex;
  align-items: center;
}
.header .bottom .nav .right .mypg-btn-wrap a {
}
.header .bottom .nav .right .mypg-btn-wrap a img {
  display: block;
}
.header .bottom .nav .right .mypg-btn-wrap a img:last-child {
  display: none;
}
.header .bottom .nav .right .mypg-btn-wrap a:hover img:first-child {
  display: none;
}
.header .bottom .nav .right .mypg-btn-wrap a:hover img:last-child {
  display: block;
}
.header .bottom .nav .right .search-wrap {
  width: 205px;
  height: 40px;
  border-radius: 3px;
  padding: 0 15px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  overflow: hidden;
}
.header .bottom .nav .right .search-wrap form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .bottom .nav .right .search-wrap .search-txt {
  width: -webkit-calc(100% - 16px);
  width: -moz-calc(100% - 16px);
  width: calc(100% - 16px);
  height: 100%;
  border: 0;
  padding: 0;
  font-size: 12px;
  letter-spacing: -0.6px;
  background: transparent;
  box-sizing: border-box;
}
.header .bottom .nav .right .search-wrap .search-txt::placeholder {
  color: #b4b4b4;
}
.header .bottom .nav .right .search-wrap .search-btn {
  font-size: 0;
  width: 16px;
  height: 16px;
  border: 0;
  background: url(/images/search_btn.png) no-repeat center;
}

/* 비주얼 */
.visual {
}
.v-swiper {
}
.v-swiper .swiper-slide {
  border-radius: 5px;
  overflow: hidden;
}
.v-swiper .swiper-slide img {
  display: block;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}
.v-swiper .swiper-slide:hover img {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}
.v-swiper .v-nav-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
  margin-right: 20px;
}
.v-swiper .v-nav-wrap .v-btn {
  width: 18px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.v-swiper .v-nav-wrap .v-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 7px;
  height: 12px;
}
.v-swiper .v-nav-wrap .v-prev {
}
.v-swiper .v-nav-wrap .v-next {
}
.v-swiper .v-nav-wrap .v-prev::after {
  background: url(/images/icon_visual_prev.png) no-repeat center;
  background-size: cover;
}
.v-swiper .v-nav-wrap .v-next::after {
  background: url(/images/icon_visual_next.png) no-repeat center;
  background-size: cover;
}
.v-swiper .v-nav-wrap .v-pg {
  display: flex;
  align-items: center;
  width: auto;
  font-size: 0;
}
.v-swiper .v-nav-wrap .v-pg > span {
  position: relative;
  font-size: 12px;
  font-weight: 700;
  padding: 0 8px;
  color: #b3b3b3;
}
.v-swiper .v-nav-wrap .v-pg > span.swiper-pagination-current {
  color: #808080;
}
.v-swiper .v-nav-wrap .v-pg > span.swiper-pagination-current::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #b3b3b3;
}
/* 퀵메뉴 */
.quick {
}
.quick-btn {
  display: flex;
  padding: 30px 0 60px;
  border-bottom: 2px solid #f2f2f2;
}
.quick-btn > li {
  width: -webkit-calc(100% / 8);
  width: -moz-calc(100% / 8);
  width: calc(100% / 8);
}
.quick-btn > li > a {
  display: block;
  text-align: center;
}
.quick-btn > li > a .img {
  display: inline-block;
  position: relative;
}
.quick-btn > li > a .img .icon-new {
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 0;
  width: 16px;
  height: 21px;
  background: url(/images/icon_new_s.png) no-repeat center;
}
.quick-btn > li > a .img img {
  display: block;
  width: 100%;
  max-width: 90px;
  margin: 0 auto;
}
.quick-btn > li > a span {
  display: block;
  color: #4d4d4d;
  margin-top: 10px;
}
.quick-btn > li > a:hover span {
  text-decoration: underline;
}

/* 당신을 위한 맞춤 추천 */
.recommend {
}

/* 스토리 */
.story {
}
.story .subtitle {
}
.story .subtab-link {
}
.story .s-menu ul {
}
.story .s-menu li {
  margin-right: 9px;
  float: left;
}
.story .active {
  color: #fff !important;
  background-color: #009a3e !important;
}
.story .s-menu li a {
  font-weight: 300;
  display: block;
  padding: 0 9px;
  line-height: 37px;
  font-size: 14px;
  background: #f2f2f2;
  border-radius: 4px;
  transition: all 0.5s;
}
.story .s-menu li a:hover {
  background: #d9d9d9;
}
.story .story-gallery {
}
.story .story-list {
  padding-top: 30px;
}
/* flex 적용 검토 */
.story .story-list li {
  float: left;
  width: 25%;
}
.story .story-thumb {
}
.story .story-link {
  display: block;
}
.story .story-link:hover .story-img .thumb-img {
  transform: translate(-50%, -50%) scale(1.05);
}
.story .story-link:hover p {
  text-decoration: underline;
}

.story .story-link p {
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  margin-top: 20px;
}

.story .story-img {
  position: relative;
  width: 285px;
  height: 190px;
  border-radius: 4px;
  overflow: hidden;
}

.story .story-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  transition: all 1s;
}
.story .story-img .s-bt {
  position: absolute;
  top: 0;
  border-bottom-right-radius: 4px;
  color: #fff;
  font-size: 12px;
  background: #e05438;
  padding: 0px 7px;
  line-height: 24px;
  font-weight: 700;
}
.story .story-img .s-bookmark {
  position: absolute;
  bottom: 10px;
  right: 15px;
  padding: 0;
  width: 32px;
  height: 47px;
  border: 0;
  background: transparent;
}
.story .story-img .s-bookmark img {
  transform: none;
  position: static;
  transition: none;
}

.story .story-user {
  display: block;
  margin-top: 15px;
}
.story .story-uimg {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
.story .story-uimg img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  height: 100%;
}
.story .story-user p {
  float: left;
  line-height: 35px;
  margin-left: 10px;
}
.story .story-user:hover p {
  text-decoration: underline;
}
/* 인기 계정 랭킹 */
.ranking {
}
.ranking .r-menu {
  display: flex;
  justify-content: left;
}
.ranking .r-menu li {
}
.story .active {
  color: #fff !important;
  background-color: #009a3e !important;
}
.story .s-menu li a {
  font-weight: 300;
  display: block;
  padding: 0 9px;
  line-height: 37px;
  font-size: 14px;
  background: #f2f2f2;
  border-radius: 4px;
  transition: all 0.5s;
}
.story .s-menu li a:hover {
  background: #d9d9d9;
}

/* 싱그런 여행 */
.travel {
}

/* 싱싱튜브 */
.singtube {
}

/* HOT Keyword */
.keyword {
}

.keyword-title {
  font-size: 25px;
  font-weight: 700;
  color: #222624;
  line-height: 63px;
}
.keyword-wrap {
  padding: 60px 40px;
  background: #f2faf5 url("../images/hotkeyword/hotkeyword.jpg") no-repeat right
    center;
  background-size: 33.8% auto;
}
.keyword-wrap a {
  display: inline-block;
  color: #3a6b4a;
  background: #d5eadd;
  padding: 0 20px;
  line-height: 50px;
  border-radius: 25px;
  margin: 0 10px;
  margin-bottom: 10px;
}
.keyword-wrap a span {
  display: block;
  padding: 0 10px;
}
.keyword-wrap a.green {
  background: #18a450;
  color: #fff;
}

.sw-keyword .swiper-wrapper .swiper-slide {
  white-space: nowrap;
  text-align: center;
}
/* MD's Pick */
.pick {
}
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}
.pick-title {
  font-size: 25px;
  font-weight: 700;
  color: #222624;
  line-height: 63px;
}
.plants-top-img > li {
  width: calc(100% / 4);
  float: left;
}
.plants-bottom-img > li {
  width: calc(100% / 4);
  float: left;
}

/* 가이드북 */
.guide {
}

/* 싱그러움을 전해보세요 */
.cs {
}

/* 하단 */
.footer {
}
